{% extends "base.html" %} {% block title %} Change Password{% endblock %} {%
block content %}



<div class="container">
  <div class="wrapper">
    <form method="POST">
      {{ form.hidden_tag() }}
      <!-- CSRF token -->
      <h2>Change Password</h2>
      <div class="input-box">
        {{ form.old_password(placeholder="Old password") }}
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="input-box">
        {{ form.new_password(placeholder="New password") }}
        <i class="bx bx-health"></i>
      </div>
      <div class="input-box">
        {{ form.confirm_password(placeholder="Confirm new password") }}
        <i class="bx bx-health"></i>
      </div>
      {{ form.submit(class="button") }}
    </form>
  </div>

    
  <div class="blob-container">
    <svg
      viewBox="0 0 500 500"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      height="720px"
      width="650px"

    >
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color: hsla(247, 54%, 70%, 0.5)"></stop>
          <stop
            offset="100%"
            style="stop-color: hsl(0, 0%, 90%, 0.5)"
          ></stop>
        </linearGradient>
      </defs>
      <path
        id="blob1"
        d="M436,310.5Q417,371,365.5,408.5Q314,446,243.5,466Q173,486,128.5,428Q84,370,51.5,310Q19,250,35,178Q51,106,113.5,64Q176,22,246.5,32Q317,42,379.5,76.5Q442,111,448.5,180.5Q455,250,436,310.5Z"
        fill="url(#gradient)"
      />
      <path
        id="blob2"
        style="visibility: hidden"
        d="M466,318.5Q439,387,377.5,420.5Q316,454,248.5,458.5Q181,463,117.5,427.5Q54,392,42.5,321Q31,250,51.5,185.5Q72,121,123,69Q174,17,249,20.5Q324,24,369.5,77Q415,130,454,190Q493,250,466,318.5Z"
        fill="url(#gradient)"
      />
    </svg>
  </div>
</div>


{% endblock %} {% block insert_script_here %}
<script>
  var tween = KUTE.fromTo(
    "#blob1",
    { path: "#blob1" },
    { path: "#blob2" },
    { repeat: 999, duration: 10000, yoyo: true }
  ).start();
</script>
{% endblock %}
