<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Tomorrow:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename ='css/style.css') }}"
    />

    <title>{% block title %}{% endblock %} | ByteMemo</title>
    {% block insert_head_here %}{% endblock %}
  </head>

  <body>
    {% if user.is_authenticated %}
    <div class="sidebar sidebar-with-tags" id="sidebar">
      <!-- id is targeted in the menu button -->
      <nav class="nav-top">
        <a href="/" id="logo"
          ><img
            src="{{ url_for('static', filename = '/img/bytememo.png')}}"
            type="button"
            title="homepage"
            alt="ByteMemo logo"
          />ByteMemo</a
        >
        <!-- <a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Good Ware - Flaticon</a> -->
        <div class="toolbar-tag">
          <span>Tags</span>
          <button
            type="button"
            title="remove filters"
            onclick="removeFilters(event)"
          >
            <i class="bx bx-eraser bx-md"></i>
          </button>
          <a href="/edit-tags" title="edit tags" type="button">
            <i class="bx bx-edit-alt bx-md"></i>
          </a>
        </div>
      </nav>
      <form
        action="{{ url_for('views.home') }}?filter=yes&"
        method="GET"
        class="sidebar-form"
        id="sidebar-form"
      >
        <input type="checkbox" name="filter" value="true" checked hidden />

        <!-- global_tags is from the context processor in views.py  -->
        {% for tag in global_tags %} {% if tag.user_id is sameas user.id %} {%
        if tag.level is sameas 1 %}
        <div class="sidebar-tags">
          <div class="tag-checkbox level-1">
            <input name="filtered-tags" value="{{tag.id}}"
            id="checkbox-{{tag.id}}" type="checkbox" {{ 'checked' if tag.id in
            session['filtered_tags_id'] }} />
            <!-- filtered_tags is from flask sessions  -->
            <label for="checkbox-{{tag.id}}">{{tag.name}}</label>
          </div>
          {% set parent = tag.id %} {% for tag in global_tags %} {% if
          tag.user_id is sameas user.id %} {% if tag.parent_tag is sameas parent
          %}
          <div class="tag-checkbox level-2">
            <input name="filtered-tags" value="{{tag.id}}"
            id="checkbox-{{tag.id}}" type="checkbox" {{ 'checked' if tag.id in
            session['filtered_tags_id'] }} />
            <!-- filtered_tags is from flask sessions  -->
            <label for="checkbox-{{tag.id}}">{{tag.name}}</label>
          </div>
          {% endif %} {% endif %} {% endfor %}
        </div>
        {% endif %} {% endif %} {% endfor %}
      </form>

      <button form="sidebar-form" type="submit">Select Tags</button>

      <nav class="nav-bottom">
        <button class="grid-1" type="button" id="js-popover-button">
          <i class="bx bx-cog bx-md bx-spin-hover"></i>Manage Account
        </button>
        <a class="grid-2" href="/logout">
          <i class="bx bx-log-out-circle bx-md"></i>Log Out</a
        >

        <label>
          <input type="checkbox" id="js-darkmode" />
          <i class="bx bxs-moon"></i>
          <i class="bx bxs-sun"></i>
          <span class="bg-toggle"></span>
        </label>
      </nav>
    </div>

    {% else %}
    <!-- this links to if user.is_authenticated -->
    <div class="sidebar" id="sidebar">
      <nav class="nav-top">
        <a href="/" id="logo"
          ><img
            src="{{ url_for('static', filename = '/img/bytememo.png')}}"
            type="button"
            alt="logo"
          />ByteMemo</a
        >
        <span class="empty-space"></span>
      </nav>
      <nav class="nav-bottom">
        <a class="grid-1" href="/signup"
          ><i class="bx bx-user-circle bx-md"></i>Signup</a
        >
        <a class="grid-2" href="/login"
          ><i class="bx bx-log-in-circle bx-md"></i>Login</a
        >
        <label for="js-darkmode">
          <input type="checkbox" id="js-darkmode" />
          <i class="bx bxs-moon"></i>
          <i class="bx bxs-sun"></i>
          <span class="bg-toggle"></span>
        </label>
      </nav>
    </div>
    {% endif %}
    <!-- this links to if user.is_authenticated  -->

    <!-- menu button  -->
    <div class="menu-button-group">
      <a class="menu-button" href="#sidebar">
        <span>
          <i class="bx bx-chevrons-left bx-rotate-180" aria-hidden="true"></i>
          <i class="bx bx-chevrons-left" aria-hidden="true"></i>
        </span>
      </a>
      <a class="menu-button close" href="#close-sidebar"></a>
    </div>

    <!-- popover for manage account -->
    <div class="sidebar-popover" id="js-sidebar-popover" popover>
      <nav>
        <ul>
          <li>
            <a href="/account-settings">Account Settings</a>
          </li>
          <li>
            <a href="/update-profile">Update Profile</a>
          </li>
          <li>
            <a href="/change-password">Change Password</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- same thing as popover but using dialog for browsers which don't support popover -->
    <dialog class="sidebar-popover" id="js-sidebar-dialog">
      <nav>
        <ul>
          <li>
            <a href="/account-settings">Account Settings</a>
          </li>
          <li>
            <a href="/update-profile">Update Profile</a>
          </li>
          <li>
            <a href="/change-password">Change Password</a>
          </li>
        </ul>
      </nav>
    </dialog>

    <!-- display success/error flash messages  -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="banner-container" id="banner">
      <!-- the if else statements in div and i are 2 different ways to do the same thing in Jinja. The first one is the standard if. The second one is the inline if.  -->
      <div
        class="banner {% if category == 'error' %} error {% else %} success {% endif %}"
      >
        <i
          class="bx {{ 'bxs-error-circle' if category == 'error' else 'bxs-check-circle' }}"
        ></i>
        <div class="banner-message">{{ message }}</div>
        <button type="button" id="close-banner" onclick="deleteBanner(event)">
          <span>&times;</span>
        </button>
      </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    {% block content %} {% endblock %}

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js')}}"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/2.0.0/kute.min.js"></script>

    {% block insert_script_here %}{% endblock %}
  </body>
</html>
