{% extends "base.html" %} {% block title %}Note{% endblock %} {% block content
%}

<h3 align="center">Begin typing...</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}

  <li class="list-group-item">
    <div class="text-left m-2">
      {{note.date }} &emsp;
      <!-- the button doesn't go left because it is not a text? -->
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{ note.text }}
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
