{% extends "base.html" %}{% block title %}Signup{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Signup</h3>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <h3 align="center"></h3>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter name"
    />
  </div>

  <h3 align="center"></h3>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="7 or more characters"
    />
  </div>

  <h3 align="center"></h3>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder=""
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
